@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:ital,wght@1,200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,  sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
    background-color:#212529;
}

header > h1 {
    color: white;
    margin-left: 5px;
    font-weight: 100;
    font-size: 1.3em;
}

ul {
    list-style: none;
}

li > a {
    text-decoration: none;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    
}

.link-imei {
    background-color: #dae0e5;
    border-color: #d3d9df;
    color: #212529;
}

.link-phone {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.menu {
    display: flex;
}

main > h1 {
    font-family: "Montserrat";
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 40px;
}

article {
    background-color: #e9ecefa2;
    margin-top: 5px;
    padding: 10px;
}

article > h2 {
    padding: 5px;
}


article > input {
    margin: 5px;
    padding: 15px;
    width: 95%;
}

article > input[type='text'] {
    border: 1px solid #ced4da;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

article > input[type='text']::placeholder {
    color: gray;
    font-size: 1.1em;
}


input[type='checkbox'] > label {
    margin-left: 10px;
}



article.checkbox > label, input{
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

article.checkbox > label {
    box-shadow: 0.25rem 0.25rem 5px rgba(0, 0, 0, 0.1);

}

textarea {
    width: 100%;
}


div.textfield {
    width: 100%;
}

button {
    padding: 20px;
    margin-top: 10px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
}


